extends layout
block content 
  .dashboard-top
    .search-wrapper
      input.dashboard-search(type='text' placeholder='Search vehicle by number plate...')
  .dashboard-container
    // STAT CARDS
    .stats
      .card
        h3 Parked Vehicles
        p 24
      .card
        h3 Total Revenue
        p UGX 450,000
      .card
        h3 Available Slots
        p 16
      .card
        h3 Active Attendants
        p 3
    // QUICK ACTIONS
    .quick-actions
      a(href='/registerVehicle')
        button.btn-submit Register Vehicle
      a(href='/signout')
        button.btn-submit Vehicle Sign Out
    // TABLE
    .table-container
    thead
      tr
        th(scope='col') Vehicle Image
        th(scope='col') Driver Name
        th(scope='col') Phone Number
        th(scope='col') Vehicle Type
        th(scope='col') Plate Number
        th(scope='col') Vehicle Model
        th(scope='col') Vehicle Color
        th(scope='col') Arrival Date
        th(scope='col') Arrival Time
        th(scope='col') Status
          th(scope='col') Update
          th(scope='col') Delete
          th(scope='col') Action
        
    tbody
      if cars.length
        each car in cars
          tr
            td 
              img(src="/"+car.vehicleImage alt="Vehicle image" width="150px", height="170px")
            td #{car.driverName}
            td #{car.phoneNumber}
            td #{car.vehicleType}
            td #{car.numberPlate}
            td #{car.vehicleModel}
            td #{car.vehicleColor}
            td #{car.arrivalDate}
            td #{car.arrivalTime}
            td #{car.status}
            td #{car.receiptNumber}
            td
                button.btn.btn-sm.btn-outline-primary(onclick=`navigator.clipboard.writeText(`${vehicle.receiptNumber}`); alert("Receipt ${vehicle.receiptNumber} copied");`)
                  i.fa-solid.fa-copy.me-1
                  |Copy
      else
          tr
            td.text-center.py-4.text-muted(colspan="4") No cars found.
      
      
  script(src='javascript/dashboard.js')
